body {
    background-color: black;
    padding: 0;
    margin: 0;
}

    
.fondocalculo {
  width: 1518px;
  height: 778px;
  top: 43px;
  position: relative;
}
.headercalculo {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: #5C527F;
  position: relative;
  height: 75px;

  top: -21px;
  z-index: -3;
}

.listaheadercalculo {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
  position: sticky;
  top: 5px;
  margin-top: 20px;
  margin-left: 100px;
}


ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  float: left;
  position: relative;
  top: 22px;
}

a {
  margin-bottom: 5px;
  text-align: center;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #ffff;
}

header nav ul li a:hover {
  cursor: pointer;
  color: #261C2C;
}

ul li {
  margin: 0;
}


.menu_barc {
  display: none;
}

.roles{
    top: 723px;
    position: relative;
    text-align: center;
    left: 598px;
    line-height: 70px;
}

.roles div:hover{
    transform: scale(1.3);
    transform-origin: center;
    height: 150px;
    width: 700px;
    border-radius: 12px;
    /* offset-x | offset-y | blur-radius | color */
    transition: all .3s ease-in-out;
    background-color: #ffff;
  }


  p{
    line-height: 15px;
    text-align: justify;
    margin-inline: 15px;
    font-size: 15px;
    left: 238px;
    position: relative;
    top: -74px;
    display: grid;
    grid-template-columns: 10cm;
    grid-template-rows: 8cm;
}

h2 {
    color: #3E2C41;
background-color: #ffff;
width: 250px;
height: 70px;
border-radius: 15px;
font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  position: relative;
}

@media screen and (min-width:480px) and (max-width:760px) {
    
.fondocalculo {
    width: 100%;
    height: 350px;
    object-fit:cover;
    object-position: bottom;
}

.headercalculo {
  width: 125%;
  background-color: black;
  /*position: relative;
  width: 1518px;*/
  height: 50px;
 
  top: -83px;
  /*z-index: -3;*/
  
}
  

  nav ul {
    width: 60%;
    height: 271px;
    margin: 0;
    position: sticky;
    background-color:black;
    top: 330px;
    padding: 0px;
    border: 0px;
    margin-top: 21px;
    border-radius: 20px;
    color: white;

  } /*menu hamburguesa*/

  nav ul li {
    display: block;
    float: none;
    padding: 0px;
    border: 0px;
    line-height: 18px;
    margin-bottom: 0;
    z-index: -7;
    top: 49px;
    color: white;
  }
  .listaheadercalculo {
    top: 5px;
    margin-top: 20px;
    text-align: left;
    margin-left: 1%;
  }
  .menu_barc {
    display: block;
    width: 100%;
    top: 30px;
  }
  
  .menu_barc .bt-menuc {
    display: block;}
    
  .menu_barc .bt-menuc {
    display: block;
    padding: 20px;
    /*background:#5C527F;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: white;
   
  }

  .contenidoc{
    display: none;
    
  }
li a{
  color: white;
}

h2 {
color: aliceblue;
background-color: #ffff;
width: 250px;
height: 70px;
border-radius: 15px;
}

.roles {
   top: 276px;
   position: relative;
   text-align: center;
   left: 170px;
   line-height: 70px;
  
}


.roles div p{
  margin-left: -62px;
  margin-right: 79px;
  
  margin-bottom: -6px;
  justify-content: space-evenly;
  display: flex;
  height: 17px;
}

.roles div:hover{
    transform: scale(1.3);
    transform-origin: center;
    height: 400px;
    width: 250px;
    border-radius: 12px;
    /* offset-x | offset-y | blur-radius | color */
    transition: all .3s ease-in-out;
    background-color: #ffff;
    opacity: 1;
   
    
  }


.fighters, .assassin, .tank,
.mage, .support, .marksmen {
    font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: black;
}

div p{
  line-height: 15px;
  text-align: justify;
    margin-inline: 30px;
    font-size: 12px;
    left: 70px;
  margin-left: -40px;
    top: 30px;
    grid-template-columns: 5cm;
    grid-template-rows: 5cm;
    display: block;
   
}
 p:hover{
 display: block;
 
  
}

}





