@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Maven+Pro:wght@500;800&display=swap');
/*-- impotar los estilos para crear efectos de volteo de tarjeta --*/
@import url(index-cards.css);


*{font-family: 'Changa One', cursive;
    font-family: 'Maven Pro', sans-serif;}

body{
    background: linear-gradient(to right, rgba(4, 192, 255, 0.452), rgba(0, 255, 0, 0.233), rgba(92, 222, 255, 0.466),  rgba(0, 255, 0, 0.233), #02e1ff86);
    display: flex;
}

* {
margin: 0;
box-sizing: border-box;
/*padding: 0;-*/
}

/*-- ESTILOS DE LA BARRA DE MENÚ PARA PC--*/
header{
    width: 100vw;
    height: 70px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(4, 192, 255, 0.452), rgba(0, 255, 0, 0.233), rgba(92, 222, 255, 0.466),  rgba(0, 255, 0, 0.233), #02e1ff86);
} 

.contenedor-barra{
    width: 100vw;
}

.contenedor-logo{
    margin-left: 13px;
}

.img-menu{
    width: 250px;
    height: 68px;
    float: left;
    margin-top: 2px;
}

header label{
    /*-para ocultar vistas-*/
    display: none !important;
    float: right;
}

header img{
    float: left;
}

.barra-menu{
/*-display:none-*/   
display: flex;
}

#btn-menu{
    display: none;
    width: 100vw;
}

/*-barra de menu-*/
.elements ul{
    background: #ffffffae;
    height: 70px;
    float: right;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.elements ul ul{
    display: none;
}

.elements li {
    list-style: none;
}

.elements li a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.elements a{
    display: block;
    padding: 18px 32px;
    font-weight: 700;
    font-size: 19px;
    color:rgba(0, 0, 0, 0.999);
    text-decoration: none;
}

.elements a:hover{
   color: rgb(255, 225, 0);
   text-shadow: -2px -2px 7px blue, 2px -2px 7px blue, -2px 2px 7px blue, 2px 2px 7px blue;
   font-size: 24px;
   padding: 18px 32px;
   height: 70px;
   font-family: 'Changa One', cursive;
   top: 0%;
   text-decoration: none;
   background: linear-gradient(to right, rgba(0, 17, 255, 0.63), rgba(168, 248, 255, 0.454), rgba(131, 253, 255, 0.397),  rgba(0, 17, 255, 0.63));
}

.elements ul li:hover .sub-menu-order{
    display: block;
    position: absolute;
    width: 182px;
    height: 240px;
    text-shadow: -2px -2px 7px rgba(255, 255, 255, 0.83), 2px -2px 7px rgb(255, 255, 255, 0.83), -2px 2px 7px rgb(255, 255, 255, 0.83), 2px 2px 7px rgb(255, 255, 255, 0.83);
    background: linear-gradient(to right, rgba(0, 17, 255, 0.63), rgba(168, 248, 255, 0.454), rgba(131, 253, 255, 0.397),  rgba(0, 17, 255, 0.63));
}


.elements img{
    max-height: 45px;
}

/*-.glyphicon{
    font-size: 20px;
}-*/

/*-pantalla movil y pc sin @media query-*/
/*-seccion busqueda-*/
.pokemon{
position: relative;
top: 70px;
/*background: linear-gradient(to right, rgba(4, 192, 255, 0.452), rgba(0, 255, 0, 0.233), rgba(92, 222, 255, 0.466),  rgba(0, 255, 0, 0.233),rgba(4, 192, 255, 0.452));-*/
}

.searcher {
    padding: 16px 0;
    display: flex;
    margin-top: -12px;
}

.searcher div{
    margin: 0em auto;
    height: 42px;
    width: 32px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 80% 10%;
    cursor: pointer;
}

.search-comun{
    font-size: 20px;
    margin: 15px auto 0;
    height: 42px;
    width: 32px;
    min-width: 300px;
    border-radius: 50px;
    border: solid 1px #00e078;
    display: grid;
    grid-template-columns: 80% 10%;
    background-color: #fffffdf1;
    justify-content: center;
    padding-left: 15px;
    cursor: pointer;
    outline: none;
}

.search-comun:hover{
    border-radius: 30px;
    border: solid 4px #00e078;
}


.searcher img{
    width: 30px;
    margin: 20px 10px 10px 10px;
}

.search{
    padding: 0em 0em;
    height: 40px;
    outline: 0;
    border: none;
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
}

.portada img{
width: 100vw;
}

.pokebola{
    left: 210px;
    top: -70px;
    position: relative;
}

.pokebola img{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 145px;
}


/*-filtrado-*/
.filtrando{
    background: linear-gradient(to right, rgba(4, 192, 255, 0.452), rgba(0, 255, 0, 0.233), rgba(92, 222, 255, 0.466),  rgba(0, 255, 0, 0.233),rgba(4, 192, 255, 0.452));
    padding-top: 20px;
    padding: 25px;
    margin: 5px;
    display:flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /*-box-shadow: 1px -1px 5px 8px rgb(169, 40, 255);-*/
}

.box-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

/*estilos para los selectores*/
.selectores {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.label{
font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

#type{
    font-size: 24px;
    padding: 12px;
    text-align: center;
    font-family: 'Changa One', cursive;
    color: #4c0264;
}

#debilidades{
    font-size: 24px;
    padding: 12px;
    text-align: center;
    font-family: 'Changa One', cursive;
    color: #4c0264;
}

#resistencia{
    font-size: 24px;
    padding: 12px;
    text-align: center;
    font-family: 'Changa One', cursive;
    color: #4c0264;
}

#fuerza{
    font-size: 24px;
    padding: 12px;
    text-align: center;
    font-family: 'Changa One', cursive;
    color: #4c0264;
}

#element-type-filter{
    background-color: hsl(0, 0%, 100%);
    border: 6px solid transparent;
    border-image: linear-gradient(to right, rgba(1, 255, 60, 0.825), rgb(169, 40, 255), rgba(1, 255, 60, 0.825)) 1;
    border-radius: 5px;
    font-family: 'Changa One', cursive;
    color: #4c0264;
    cursor: pointer;
    font-size: 19px;
    padding: 12px;
    margin-top: 40px;
    text-align: center;
}

#element-weaknesses-filter{
    background-color: hsl(0, 0%, 100%);
    border: 6px solid transparent;
    border-image: linear-gradient(to right, rgba(1, 255, 60, 0.825), rgb(169, 40, 255), rgba(1, 255, 60, 0.825)) 1;
    border-radius: 5px;
    font-family: 'Changa One', cursive;
    color: #4c0264;
    cursor: pointer;
    font-size: 19px;
    padding: 12px;
    margin-top: 40px;
    text-align: center;
}

#element-resistant-filter{
    background-color: hsl(0, 0%, 100%);
    border: 6px solid transparent;
    border-image: linear-gradient(to right, rgba(1, 255, 60, 0.825), rgb(169, 40, 255), rgba(1, 255, 60, 0.825)) 1;
    border-radius: 5px;
    font-family: 'Changa One', cursive;
    color: #4c0264;
    cursor: pointer;
    font-size: 19px;
    padding: 12px;
    margin-top: 40px;
    text-align: center;
}

#element-strong-filter{
    background-color: hsl(0, 0%, 100%);
    border: 6px solid transparent;
    border-image: linear-gradient(to right, rgba(1, 255, 60, 0.825), rgb(169, 40, 255), rgba(1, 255, 60, 0.825)) 1;
    border-radius: 5px;
    font-family: 'Changa One', cursive;
    color: #4c0264;
    cursor: pointer;
    font-size: 19px;
    padding: 12px;
    margin-top: 40px;
    text-align: center;  
}

#element-type-filter select,
#element-weaknesses-filter select,
#element-resistant-filter select,
#element-strong-filter select{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: white;
  z-index: 1;
}


/*-seccion inicio empieza debajo del search-*/
/*- vista para cel y web -*/
.inicio{
    background-image: url("images/fondo5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.inicio .contenedor-pokemones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*-ESTE CONTENDOR ES PARA LA CARD, LO HICE AYER -*/
.contenedor-pokemones img{
    height: 200px;
    background-image: url("images/cards/card1.png");
}

/*- barra de menu para cel -*/
@media (max-width:768px){
    header label {
      display: block !important;
      font-size: 22px;
      margin: 10px 10px;
      margin-top: 16px;
  }

    .img-menu {
    width: 190px;
    height: 50px;
  } 

    .elements{
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        transition: all 0.4s;
        transform: translateX(-100);
    }
    
    .elements ul{
        display: block;
        background: #00ff9d55;
        width: 50%;
        height: 50vh;
    }

    .elements ul li:hover ul{
        display: none;
    }
}

