@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Maven+Pro:wght@500;800&display=swap');
*{font-family: 'Changa One', cursive;
    font-family: 'Maven Pro', sans-serif;}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(4, 192, 255, 0.452), rgba(0, 255, 0, 0.233), rgba(92, 222, 255, 0.466), rgba(169, 234, 255, 0.548), #02e1ff86);
}
.pokemon{
    background-color: rgba(7, 39, 219, 0.527), rgba(0, 255, 0, 0.438),rgba(0, 255, 179, 0.514), rgba(0, 174, 255, 0.397);
}

* {
margin: 0;
box-sizing: border-box;
padding: 0;   
}

/*-- ESTILOS DE LA BARRA DE MENÚ--*/
.header{
    width: 100vw;
    background: linear-gradient(to right, #0f7fff88, #0fff071f, #02ffb38f, #01c2fd88);
    border-radius: 20px;
    font-family: 'Changa One', cursive;
} 

#btn-menu .img-menu{
    width: 100px;
    height: auto;
}

#btn-menu{
    display: flex;
}

.header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 12px;
}

.header label:hover{
display: block;
width: 30px;
height: 30px;
padding: 12px;
background-color: rgba(0, 28, 190, 0.514), rgba(12, 255, 182, 0.301), rgba(0, 174, 255, 0.397);
}


.elements ul{
    margin: 0em;
    padding: 0em;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}


.elements a:hover{
   color: #0184ffbd;
   font-size: 23px;
   font-family: 'Changa One', cursive;
}

.elements li a{
    display: block;
    padding: 20px 30px;
    color: white;
    text-decoration: none;  
}

@media(max-width:768px){
    .header label{
        display:block;
        width: 100vw;
}
    .elements {
        position:absolute;
        background-color: linear-gradient(to right, #419aff6c, #0fff071f, #02ffb38f, #01c2fd88);
        width: -160px;
        margin-left: -160px;
        transition: all 0.5s;
    }
    .elements ul{
        flex-direction: column;
    }
    #btn-menu:checked ~ .elements{
        margin: 5px;
    }
}

.searcher {
    padding: 16px 0em;
}

.searcher div{
    margin: 0em auto;
    height: 42px;
    width: 32px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 80% 10%;
}

.search-comun{
    font-size: 20px;
    margin: 0em auto;
    height: 42px;
    width: 32px;
    min-width: 300px;
    border-radius: 50px;
    border: solid 1px #00e078;
    display: grid;
    grid-template-columns: 80% 10%;
    background-color: #fffffdf1;
    justify-content: center;
    padding-left: 12px;
    cursor: pointer;
    outline: none;
}

.search-comun:hover{
    border-radius: 30px;
    border: solid 8px #00e078;
}


.searcher img{
    width: 30px;
    margin: auto;
}

.search{
    padding: 0em 0em;
    height: 40px;
    outline: 0;
    border: none;
    font-family: 'Maven Pro', sans-serif;
}

