#pokemones{
  background: #ffff0040;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 7% 0;
  margin: auto;
  align-content: center;
}

.contenedor-card1{

}
#card1{
/*justify-self: auto;
gap: 10px;*/
display: flex;
flex-wrap: wrap;
  background-image: url("images/cards/card1.png");
}

#card{
  background-image: url("images/cards/card2.png");
}
