@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Maven+Pro:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/*-- impotar los estilos para crear efectos de volteo de tarjeta --*/
@import url(main-cards.css);


*{font-family: 'Changa One', cursive;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Patua One', cursive;}

body{
    background: linear-gradient(to right, rgba(4, 192, 255, 0.452), rgba(0, 255, 0, 0.233), rgba(92, 222, 255, 0.466),  rgba(0, 255, 0, 0.233), #02e1ff86);
    min-height: 100%;
}

* {
margin: 0;
box-sizing: border-box;
/*padding: 0;-*/
}

/*-- ESTILOS DE LA BARRA DE MENÚ PARA PC--*/
header{
    width: 100%;
    height: 4.375em;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(4, 192, 255, 0.452), rgba(0, 255, 0, 0.233), rgba(92, 222, 255, 0.466),  rgba(0, 255, 0, 0.233), #02e1ff86);
}


#btn-menu{
  display: none;
}

.contenedor-barra{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-logo{
    margin-left: 0.813em;
}

.img-menu{
    width: 15.625em;
    height: 4.25em;
    float: left;
    margin-top: 2px;
}

header label{
    /*-para ocultar vistas-*/
    display: none !important;
    float: right;
}

header img{
    float: left;
}

.barra-menu{
display: flex;
flex-wrap: wrap;
}

#btn-menu{
    display: none;
    width: 100vw;
}

/*-barra de menu-*/
.elements ul{
    background: #fffffff6;
    height: 70px;
    float: left;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.elements ul ul{
    display: none;
}

.elements li {
    list-style: none;
}

.elements li a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.elements a{
    display: block;
    padding: 18px 32px;
    width: 180px;

    font-weight: 700;
    font-size: 19px;
    color:rgba(0, 0, 0, 0.999);
    text-decoration: none;
}

.elements a:hover{
   color: rgb(255, 225, 0);
   text-shadow: -2px -2px 9px blue, 2px -2px 9px blue, -2px 2px 9px blue, 2px 2px 9px blue;
   font-size: 24px;
   padding: 18px 32px;
   height: 70px;
   font-family: 'Changa One', cursive;
   top: 0%;
   text-decoration: none;
   background: linear-gradient(to right, rgba(28, 3, 255, 0.921), rgba(187, 255, 252, 0.761),  rgba(187, 255, 252, 0.761), rgba(187, 255, 252, 0.761), rgba(28, 3, 255, 0.921));
}


.elements ul li:hover .sub-menu-order{
    display: block;
    position: absolute;
    width: 180px;
    height: 240px;
    text-shadow: -2px -2px 7px rgb(255, 255, 255), 2px -2px 7px rgb(255, 255, 255), -2px 2px 7px rgb(254, 255, 255), 2px 2px 7px rgb(255, 255, 255);
    background: linear-gradient(to right, rgba(28, 3, 255, 0.921), rgba(187, 255, 252, 0.761), rgba(187, 255, 252, 0.761), rgba(187, 255, 252, 0.761), rgba(28, 3, 255, 0.921));
}


.elements img{
    max-height: 45px;
}


/*-pantalla movil y pc sin @media query-*/
/*-seccion busqueda-*/
.pokemon{
position: relative;
top: 4.375em;
width: 100%;
}


.portadaBox {
display: flex;
width: 1000%;
animation: slide 50s linear infinite;
}


.portada-slider{
flex-basis: 100%;
}


.portada-slider img{
display: flex;
width: 100%;
height: 500px;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }   100% {
    transform: translateX(-100%);
  }
 }


.searcher {
    padding: 16px 0;
    display: flex;
    margin-top: -12px;
}

.searcher div{
    margin: 0em auto;
    height: 42px;
    width: 32px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 80% 10%;
    cursor: pointer;
}

.search-comun{
    font-size: 19px;
    margin: 15px auto 0;
    height: 42px;
    width: 32px;
    min-width: 300px;
    border-radius: 50px;
    border: solid 1px #7e06a6;
    box-shadow: 0 0 4px 3px #7e06a6;
    display: grid;
    grid-template-columns: 80% 10%;
    background-color: #fffffdf1;
    justify-content: center;
    padding-left: 15px;
    cursor: pointer;
    outline: none;
}

.search-comun:hover{
    border-radius: 30px;
    border: solid 3px  #7e06a6;
}


.searcher img{
    width: 30px;
    margin: 20px 10px 12px 20px;
}

.search{
    padding: 0em 0em;
    height: 40px;
    outline: 0;
    border: none;
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
}

.portada img{
width: 100%;
}

.pokebola{
    left: 210px;
    top: -70px;
    position: relative;
}

.pokebola img{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 145px;
}

.container{
    display: flex;
    background-color: rgba(255, 126, 212, 0.699);
    align-items:center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top:0;
    left: 0;
    height: 101vh;
    width: 101vw;
    transition: opacity 0.3s ease;
}

.modal{
    background-color: #fff;
    width: 620px;
    max-width: 100%;
    height: 80%;
    padding: 28px 48px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal h1{
    margin: 0;
}

.modal p{
    opacity: 0.6;
    font-size: 15px;
    font-family: cursive;
}


#cerrar{
    font-weight: 700;
    font-size: 18px;
    font-family: cursive;
    color:rgba(255, 0, 106, 0.966);
    background: rgba(255, 179, 232, 0.979);
    border:rgba(255, 0, 106, 0.966);
    border-radius: 50px;
    cursor:pointer;
}

#cerrar:hover{
      background-color: #a20bb6d7;
      color: antiquewhite;
      transform: scale(1.1);
}

.show{
      pointer-events: auto;
      opacity: 1;
}

/*para pc*/
.footer-main{
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/fondouniverso.gif);
    width: 100%;
    height: 18em;
    justify-content: center;
    align-items: center;
}

.footer-main > div {
    flex-basis: calc(100% / 3);
    text-align: center;
  }

.logo,
.app,
.redes {
  flex-basis: calc(100% / 3);
  text-align: center;
}

.footer-main .logo img{
    height: 100%;
    width: 90%;
}

.app img{
width: 40%;
height: 60%;
}

.apps {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }

.redes img{
    width: 15%;
    height: 45%;
}

.social-icono {
    margin: auto 10px;
  }

.Copyright h5{
    margin-top: auto;
    color: #fff;
    font-size: 20px;
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*-filtrado-*/
.filtrando{
    background: linear-gradient(to right,  rgba(3, 255, 66, 0.65), rgba(4, 205, 255, 0.452), rgba(3, 255, 116, 0.60),rgba(4, 205, 255, 0.452),  rgba(3, 255, 66, 0.6));
    padding: 25px;
    margin: 5px auto;
    width: 100%;
    display:flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /*-box-shadow: 1px -1px 5px 8px rgb(169, 40, 255);-*/
}

.box-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

/*estilos para los selectores*/
.selectores {
    margin: 10px;
   /*display: flex;*/
    /*flex-direction: column;*/
    text-align: center;
    /*margin: 0 16px;*/
}

.label{
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}


#type,
#debilidades,
#resistencia,
#fuerza{
    font-size: 24px;
    padding: 12px;
    text-align: center;
    font-family: 'Changa One', cursive;
    color: #4c0264;
    text-shadow: -2px -2px 3px rgb(255, 255, 255), 2px -2px 3px rgb(253, 253, 255), -2px 2px 3px rgb(255, 255, 255), 2px 2px 3px rgb(255, 255, 255);
}

select option:checked{
    background-color: rgb(216, 183, 247);
}


#element-type-filter,
#element-weaknesses-filter,
#element-resistant-filter,
#element-strong-filter {
    background-color: hsl(0, 0%, 100%);
    border: 6px solid transparent;
    border-image: linear-gradient(to right, rgba(1, 255, 60, 0.825), rgb(169, 40, 255), rgba(1, 255, 60, 0.825)) 1;
    border-radius: 5px;
    font-family: 'Changa One', cursive;
    color: #4c0264;
    cursor: pointer;
    font-size: 19px;
    padding: 12px;
    margin-top: 40px;
    text-align: center;
}


#element-type-filter select,
#element-weaknesses-filter select,
#element-resistant-filter select,
#element-strong-filter select{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  border: none;
  margin: 0 auto;
  outline: none;
  background-color: white;
  z-index: 1;
}

#element-type-filter option,
#element-resistant-filter option,
#element-resistant-filter option,
#element-strong-filter option{
    text-align: center;
    margin: 0 auto;
    color: #4c0264;
  }


/*-seccion inicio empieza debajo del search-*/
/*- vista para cel y web -*/
.inicio{
    background-image: url("images/fondo5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.contenedor-pokemones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 5%;
}

/*- barra de menu para cel y tablet vertical -*/
@media (max-width:768px){
    header label {
      display: block !important;
      font-size: 18px;
      margin: 10px 10px;
     margin-top: 20px;
  }

    .img-menu {
    width: 11.875em;
    height: 3.125em;
  }

    .elements{
        position: absolute;
        top: 4.063em;
        width: 100%;
        transition: all 0.4s;
        transform: translateX(-100);
    }

    .elements ul{
        display: block;
        background: #34ffaa71;
        width: 24%;
        height: 100%;
    }

    .elements ul li:hover ul{
        display: none;
    }

    .img-menu:checked ~ .elements-nav{
      margin:0;
  }
  .box-filter {
    display: flex;
    width: 55%;
    justify-content: center;
    margin-top: 50px;
  }

#element-type-filter,
#element-weaknesses-filter,
#element-resistant-filter,
#element-strong-filter {
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

}
    /*.portadaBox {
      display: flex;
      width: 800%;
      }


      .portada-slider{
      flex-basis: 100%;
      }


      .portada-slider img{
      display: flex;
      width: 100%;
      height: 250px;
      }


      @keyframes slide {
        0% {
          transform: translateX(0);
        }   100% {
          transform: translateX(-100%);
        }
       }


    .footer-main {
      height: auto;
      padding: 30px 0;
    }

    .footer-main > div {
    flex-basis: 100%;
    }

  .footer-main .logo img{
    height: 50%;
    width: 40%;
    cursor: pointer;
}
  .apps {
    margin-top: 1.875em;
  }
  .app img{
    width: 20%;
    height: 30%;
    cursor: pointer;
    }

  .redes img {
    width: 7%;
    height: auto;
  }
  .social-icono {
    cursor: pointer;
  }
  .Copyright h5 {
    padding-top: 1.25em;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
  }
}


/* para tablet en posición horizontal */
@media only screen and (min-width: 768px) and (max-width: 1024px){

.box-filter {
  justify-content: right;
  margin-top: 50px;
}

#element-type-filter,
#element-weaknesses-filter,
#element-resistant-filter,
#element-strong-filter {
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}


  .footer-main {
    height: auto;
    padding: 30px 0;
  }
  .footer-main > div {
    flex-basis: 100%;
  }
  .apps {
    margin-top: 30px;
  }
  .redes img {
    width: 10%;
    height: auto;
  }
  .social-icono {
    cursor: pointer;
  }

  .Copyright h5 {
    padding-top: 1.25em;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }

}
