@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Maven+Pro:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
#pokemones{
  background:linear-gradient(to left, rgba(4, 146, 255, 0.452) 0%, rgba(3, 255, 66, 0.511)35%, rgba(4, 171, 255, 0.452)45%, rgba(3, 255, 66, 0.511)70%, rgba(4, 146, 255, 0.452)100%); /* rgba(7, 238, 100, 0.603); #2f02fa81; rgba(2, 153, 240, 0.603)*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  justify-content: center;
  grid-gap: 35px;
  /*checkar barra de menu*/
  padding: 7% 2% 7% 5%;
}

@media screen and (max-width:768px){
#pokemones{
  display: flex;
  flex-wrap: wrap;
  padding: 60px -1px 60px 0;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
#pokemones{
  display: flex;
  flex-wrap: wrap;
}
}

.contenedor-card1{
  background-image: url(images/cards/card1.png);
  background-size: contain;
  height: 382px;
  width: 215px;
  justify-content: center;
}

#card1{
/*justify-self: auto;
gap: 10px;*/
display: block;
height: 383.1px;
width: 215px;
padding: 30px 0;
box-sizing: border-box;
justify-content: center;
align-items: center;
}

.pokemon-name{
  width: 215px;
  height: 35px;
  color: #fff;
  text-shadow: 2px 2px 15px #3004f3e3,-2px -2px 15px #3004f3e3;
  font-size: 30px;
  text-align: center;
  font-family: 'Maven Pro';
}

.pokemon-img-container{
  display: block;
  margin: 20px auto 0;
  height: 205px;
  width: 205px;
}

.pokemon-img{
  display: block;
  object-fit: 100%;
  width: 100%;
}

.pokemon-num{
  width: 215px;
  padding-top: 35px;
  text-align: center;
  color:#3308f2;
  font-size: 27px;
  font-family: 'Maven Pro';
  font-weight:550;
  text-shadow: 2px 2px 10px rgba(255, 0, 255, 0.763),-2px -2px 10px rgba(255, 0, 255, 0.763);
}
