
table {
    width: 50%;
    font-family: "Jockey One", sans-serif;
    font-size: 120%;
    margin:auto;
    margin-top: 5%;
    text-align: justify;
  }


  .moviePoster {
    width: 80%;
    height: 10%;
    
  }
  
  #moviesTableColumnOne {
    width: 50%;
    margin: auto;
   

  }

  #moviesTableColumnTwo {
    width: 50%;
    margin: auto;
  }
 
 