@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Maven+Pro:wght@500;800&display=swap');

.contenedor-saludo {
  height: 100vh;
  z-index: 1;
  background-image: url("images/fondopastel.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.dialogo1{
  display: flex;
}

/*-- que desaparezca de la pag hasta que se termine de mostrar el dialogo1--*/
.dialogo2{
    display: none;
}

.next-instrucc #boton-next-instrucc{
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 2;
  bottom: 15px;
  right: 40px;
}

.next-instrucc #boton-next-instrucc:hover{
    transform: scale(1.3);
    background-color: rgba(250, 96, 204, 0.597);
    border-radius: 50px;
}
