@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Maven+Pro:wght@500;800&display=swap');

.contenedor-saludo {
  height: 100vh;
  z-index: 1;
  background-image: url("images/fondopastel.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.dialogo1{
  display: flex;
}

/*-- que desaparezca de la pag hasta que se termine de mostrar el dialogo1--*/
.dialogo2{
    display: none;
}

.contenedor-cel-saludo{
    display: none;
}
.contenedor-tablet-saludo{
    display: none;
}

.next-instrucc #boton-next-instrucc{
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 2;
  bottom: 27px;
  right: 80px;
}


.next-instrucc #boton-next-instrucc:hover{
  transform: scale(1.3);
  border: 5px solid rgba(255, 3, 179, 0.836);
  border-radius: 50px;
}

@media screen and (max-width:767px) {

  .contenedor-saludo{
    display: none;
  }

  .contenedor-tablet-saludo{
    display: none;
  }

  .contenedor-cel-saludo {
    height: 100vh;
    z-index: 1;
    background-image: url("images/fondopastel.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .dialogo3{
    display: flex;
  }

  .intrucciones-cel2{
    display: none;
  }

  .next-instrucc #boton-next-instrucc{
    width: 53px;
    height: 53px;
    bottom: 50px;
    right:20px;
  }
  .next-instrucc #boton-next-instrucc:hover{
    transform: scale(1.2);
    border: 5px solid rgba(255, 3, 179, 0.836);
    border-radius: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .contenedor-tablet-saludo {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    margin: 0;
    background-image: url("images/fondopastel.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .dialogo4{
    display: flex;
  }

  .instrucciones-tablet{
    display: none;
  }

  .contenedor-saludo{
    display: none;
  }
  .contenedor-cel-saludo{
    display: none;
}
  .next-instrucc #boton-next-instrucc{
    width: 65px;
    height: 65px;
    bottom:99px;
    right:13px;
  }
  .next-instrucc #boton-next-instrucc:hover{
    transform: scale(1.2);
  }
}
