* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV */
header {
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

nav {
  width: 85%;
  margin-left: 10%;
  font-family: "Berlin Sans FB Demi", sans-serif;
  text-transform: uppercase;
  font-size: 26px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
}

li {
  float: left;
}

li a {
  margin-bottom: 10px;
  text-align: center;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #fff;
}

li a:hover,
li a:focus,
.active {
  -webkit-text-fill-color: #ffcd00;
  -webkit-text-stroke: 2px #006ebe;
  text-shadow: -1px -1px 1px #006ebe, 1px 1px 1px #006ebe, -1px 1px 1px #006ebe,
    1px -1px 1px #006ebe;
  font-size: 28px;
}

input[type="text"] {
  float: right;
  padding: 6px;
  font-size: 17px;
  color: #00b16a;
}

input:focus {
  outline: none;
  border: none;
  color: #006ebe;
  background-color: #ffcd00;
}

::placeholder {
  color: #00b16a;
}

#search {
  background-color: #fff;
}

/* responsive */

@media screen and (max-width: 1080px) {
  input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    margin-left: 35%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 810px) {
  nav {
    font-size: 20px;
  }

  li a:hover,
  li a:focus,
  .active {
    font-size: 22px;
  }
}

@media screen and (max-width: 670px) {
  ul li {
    float: none;
    padding: 5px;
  }

  input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
  }
}

/*  */
body {
  background-color: #00b16a;
}

main {
  background-color: #eaf8e3;
  text-align: center;
  margin: 10px 15%;
  color: #9a9f9d;
  border-radius: 15px;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  gap: 30px;
  padding: 20px;
}

.pokemon-card {
  border-radius: 10px;
  text-align: left;
  padding: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: roboto;
  width: 200px;
  height: 300px;
}

.pokemon-img-container {
  position: relative;
  background-image: url("img/fondo.png");
  background-size: cover;
  overflow: hidden;
}

.pokemon-card img {
  display: block;
  margin: auto;
  width: 150px;
  height: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-card img:hover {
  cursor: pointer;
  transform: scale(1.05);
  animation: rotate 4s linear infinite;
}

h2 {
  color: #4f6764;
}

.pokemon-type-img {
  width: 25px;
  height: 25px;
}
