@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    background-image: url('./img/triangulos-blancos.jpg');
}

.encabezado{
    position: fixed;/*hace que el elemento se posicione de forma fija en la pantalla*/
    top: 0;/*coloca el elem en la parte superior*/
    left: 0;/*coloca el elem en el borde izquierdo*/
    background-image: url('./img/espacio-verde.jpg');
    background-repeat: repeat-x;/*repetir solo horizontalmente*/
    background-size:contain; /*como quiero que se vea el tamaño de mi imagen*//*asegura que la imagen se adapte al tamaño del navegador*/
    background-position: center;
    width: 100%;/*establece el ancho del 100% de la pantalla*/
    height: 150px; /*ajuste de altura, modificar si es necesario*/
    color: rgb(255, 255, 255); /*color de texto en funcion del fondo*/
    display: flex;
    /*padding: 20px 20px;*/
    justify-content:space-between;
    align-items: center;
}


/*Logos*/
#logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

#logo img{
    /*height: 50px; /*ajustar tamaño*/
    vertical-align:middle;/*para ajustar su alineacion vertical*/
    margin-right: 20px;/*espacio entre las imagenes*/
}

#logo-riot{
    height: 30px;
    margin-right: 20px;
}

#logo-lol{
    height: 50px;
}

.contenedor1 {
    display: flex;
    align-items: center;
  }
  
  .contenedor2 {
    display: flex;
    align-items: center;
  }

/*NAVEGADOR*/
.nav1 ul .nav2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav1 {
    margin-left: 20px;
  }
  
  .nav1 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav1 li {
    margin-right: 20px;
  }
  
  .nav1 a {
    color: white;
    text-decoration: none;
  }
  
  .nav1 a:hover {
    text-decoration: underline;
  }
  
  
  .nav2 li {
    margin-right: 20px;
  }
  
  .nav2 a {
    color: white;
    text-decoration: none;
  }
  
  .nav2 a:hover {
    text-decoration: underline;
  }