* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: none;
}

header {
  width: 100%;
  background: #12233b;
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
}

.img-title {
  width: 540px;
  height: 198px;
  display: block;
  margin: auto;
}

/* FORM - INPUT*/

.inputs {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#search {
  width: 400px;
  margin-right: 60px;
}

h1 {
  margin: 2px 15px 3px;
  color: #12233b;
  font-size: 18px;
}

.formSearch {
  display: flex;
}

.searchInput {
  background: #d9d9d9;
  width: 340px;
  padding: 0 20px;
  border-radius: 20px 0 0 20px;
}

.img-lupa {
  /*FORMA DE COLOCAR ATRIBUTOS QUE NO PUEDEN SER TOMADOS EN LA MISMA CLASS O ID*/
  border-radius: 0 20px 20px 0;
  width: 54px; /*botones de busqueda*/
  height: 47px; /*botones de busqueda*/
  cursor: pointer;
  background: #a5a5a5;
}

img-lupa:hover {
  color: #ffcb05;
}

/* INPUT - SORT */

#sort {
  width: 400px;
}

h2 {
  margin: 2px 15px 3px;
  padding: 0;
  color: #12233b;
  font-size: 18px;
}

.formSort {
  display: flex;
}

.sortInput {
  background: #d9d9d9;
  width: 340px;
  padding: 0 20px;
  border-radius: 20px 0 0 20px;
}

.img-pokeball {
  /*FORMA DE COLOCAR ATRIBUTOS QUE NO PUEDEN SER TOMADOS EN LA MISMA CLASS O ID*/
  border-radius: 0 20px 20px 0;
  width: 60px; /*botones de busqueda*/
  height: 47px; /*botones de busqueda*/
  cursor: pointer;
  background: #a5a5a5;
}

input[type="img"]:hover {
  background: #c40d0f;
}

/* DATA-CARDS-POKEMONES*/

main {
  padding: 4rem;
  display: flex;
  justify-content: center;
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  text-decoration: none;
}

.pokemon-img {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 160px;
  cursor: pointer;
}

.pokemon-info {
  padding: 15px;
}

.pokemon-name {
  color: #333;
  font-size: 20px;
}

.pokemon-number {
  color: #888;
}

.pokemon-type {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.fire {
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #ffcb05;
  color: #fff;
}

/*FOOTER*/
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #12233b;
  color: #a5a5a5;
  position: fixed;
}


/*sort*/
select {
  background-color:#D9D9D9;
  border-radius: 20px 0 0 20px;
  width: 300px;
  color:#333;
  padding-left: 5%;
}