body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    background-image: url("https://r4.wallpaperflare.com/wallpaper/892/692/922/howl-s-moving-castle-studio-ghibli-fantasy-art-clouds-daylight-hd-wallpaper-3be62c2d93012fc995842bf94d4cdc00.jpg");
    background-size: cover;
    width: 100vw;
}
.welcome {
    width: 100%;
    height: 100%;

}
#logo {
    width: 40%;
    padding-left:30% ;
    padding-right:30% ;
    padding-top: 100px; 
}

#buttonZone{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    flex-wrap: wrap;
}
.buttonWelcome{
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.content {
    display: none;
    flex-wrap: wrap;
    size: 10%;
    padding: 10px;
    margin-top: 0;
    background-color: rgb(0, 0, 0);
}

#filterText {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.Filtros {
    margin-top: 10px;
    margin-left: 10px;
    width: 10%;
    height: 10%;
    background-color: rgb(102, 99, 99);
    border-style: hidden;
    color: rgb(89, 161, 117);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

.Filtros:hover {
    background-color: rgb(29, 145, 87);
    color: white;
}

#searchSpace {
    margin-left: 20%;
    width: 15%;
    margin-right: 8px;
}

#filmsZone {
    display: none;
    color: white;
    flex-wrap: wrap;
    align-content: center;
}

.filmDivs {
    display: flex;
    align-items: flex-start;
    width: 50%;

}

.filmDivs:hover {
    background-color: rgb(126, 185, 146);
}

.filmDivsHover {
    width: auto;
}

.textContent {
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 20px;

}

.posterImages {
    height: 300px;
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    border-radius: 5%;
}

.text {
    color: white;
}

.filterSection {
    display: none;
    flex-wrap: wrap;
}