body {
    margin: 0%;
    width: 100%; 
    max-width: 100%;
    min-width: 100%;       
    padding: 0%;
    text-align: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logoRio {
    width: 100px;
    height: 90px;
    margin-left: 20px;
}

header{
    text-align: right;
    display: flex;
    background-color:#CEF506; 
}

.menu{
    list-style: none;
    margin: auto; 
}

.menu li a{
    font-size: 20px;
    text-decoration: none;
    color:black;
    display: block; 
}

.menu li{
    display: inline-block;
    padding: 30px;
}

.menu li a:hover{
    color:#fd4f04;
}

.information{
    display: flex;
    color: white;
    background-color: black;
    margin-bottom: 20px;
}

article section{
    padding: 70px;    
}

article section .s1{
    padding: 50px; 
}

.words_head{
    margin-top: 80px;
    margin-left: 50px;
}

#s1{
    font-size: 60px;
}

#s2{
    font-size: 20px;
}

.colors{
    margin-left: 100px;
}
/*
.img_explora{
    background-image: url(explora.png);
    height: 500px;
    
    background-repeat: no-repeat;
    background-size: 1100px 500px;
}*/

button{
    background-color:#CEF506;
    color:#000000;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    position: relative;
    right:30px;
}

button:hover{
    color:#fd4f04;
}

footer{
    background-color:#CEF506;
    color: #000000;
    font-style:italic;
    font-size: 15px;
    padding: 10px;
}