body {
  background-color: #261C2C;
  padding: 0;
  margin: 0;
}

.logo {
  position: relative;
  left: 0px;
  top: 0px;
  border: none !important;
  margin: 0px;
  padding: 0px;
  width: 1518px;
  height: 286px;
  line-height: 0%;
}

.logIn-signUp {
  margin-top: 10px;
  margin-right: 100px;
  top: 500px;
  z-index: 2;
  display: block;
  float: right;
}

.logIn {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 90px;
  height: 40px;
  background: #6E85B2;
  border-radius: 20px;
  border-color: #FFFFFF;
  margin-right: 20px;
}

.SignUp {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 90px;
  height: 40px;
  background: #6E85B2;
  border-radius: 20px;
  border-color: #FFFFFF;
}

.header {
  width: 85%;
  margin-left: 9.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: #5C527F;
  position: relative;
  width: 1518px;
  height: 68px;
  left: -144px;
  top: -25px;
  z-index: -3;
}

.listaheader {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  position: sticky;
  top: 5px;
  margin-top: 20px;
  margin-left: 100px;
}


ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  float: left;
  position: relative;
  top: 22px;
}

a {
  margin-bottom: 10px;
  text-align: center;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #ffff;
}

header nav ul li a:hover {
  cursor: pointer;
  color: #261C2C;
}

input[type="text"] {
  float: left;
  /*padding: 6px;*/
  font-size: 14px;
  /*color: F6F7F9;*/
  position: absolute;
  width: 200px;
  height: 38px;
  left: -7px;
  top: 341px;
  border-radius: 10px;
  margin-left: 350px;
  margin-top: 100px;
}

::placeholder {
  color: black;
}

.contenedor {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -160px;
  margin-left: 61px;
  gap: 50px;
  animation: fade-out 0.5s ease;
}

.champion-img-container {
  /*position: relative;*/
  height: 250px;
  width: 220px;
  /*background-color: aqua;*/
}

.champion-img {
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 110px;
}

.champion-name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
  position: relative;
  bottom: 95px;
}

.champion-card {
  background-color: #6E85B2;
  margin-top: 100px;
  margin-bottom: 5px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  width: 220px;
  overflow: hidden;

}

.champion-card:hover {
  transform: scale(1.2);
  background-color: #6E85B2;
  transform-origin: center;
  height: 520px;
  transition: all .3s ease-in-out;
  border-radius: 12px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 9px 10px 9px black;
}
/*.contImg {
  background-color: #5c527f;
  width: 1508px;
}*/
.blurb {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 520;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  margin-left: 7px;
  margin-right: 10px;
  color: #FFFFFF;
  z-index: 1;
  display: grid;
  grid-template-columns: 5.3cm;
  grid-template-rows: 6.5cm;
  position: relative;
  bottom: 130px;


}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  bottom: 120px;
}

/* .info {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align:justify;
  color: #261C2C;
  position: relative;
  top: 350px;
  line-height: -20px;
  left: 142px;
  background-color:greenyellow;
  width: 500px;
  height: 40px;
} */

#botonBuscar {
  margin-top: 0px;
  margin-left: 665px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  position: relative;
  top: -172px;
  left: -105px;
}




.sort {
  margin-top: 210px;
  right: -345px;
  position: relative;
  width: 90px;
  height: 33px;
  border-radius: 7px;
  top: -82px;

}

h3 {
  color: #FFFFFF;
  position: relative;
  align-content: baseline;
  top: 0px;
  left: 450px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 25px;
  opacity: 75%;
  width: auto;
}

#botonLimpiar {
  top: -172px;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  left: -101px;
}


#resultados {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 61px;
  margin-top: -160px;
  left: 50px;
  gap: 50px;
  align-content: center;
  position: sticky;
}

h5 {

  line-height: 0px;
  color: #261C2C;
  flex-wrap: wrap;
  position: relative;
  top: 440px;
  left: 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  margin-top: 0px;
  background-color: rgba(61, 5, 66, 0.2);

}

/*.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/



ul li {
  margin: 0;
}


.menu_bar {
  display: none;
}

/*.contImg {
  background-color: #5C527F;
}*/

#calculo{
  margin-top: 0px;
  margin-left: 665px;
  border-radius: 5px;
  width: 211px;
  height: 41px;
  position: absolute;
  top: 441px;
  left: 236px;
}
.textCalculo{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 530;
  font-size: 16px;
  color: black;
  top: 6px;
  position: relative;
}

/*RESPONSIVE*/


@media screen and (min-width:480px) and (max-width:760px) {
  
  

  body {
    margin: 0;
  }


  .logo {
    width: 100%;
    height: 201px;
    object-fit: cover;
    object-position: bottom;
    z-index: -10;
  }

  /* .menu-container {
  display: flex;
  flex-direction: column;
  width: 150px;
} */
  .header {
    width: 105%;
    background: #5C527F;
    /*position: relative;
  width: 1518px;*/
    height: 50px;
    left: -69px;
    top: -86px;
    /*z-index: -3;*/

  }


  nav ul {
    width: 60%;
    height: 271px;
    margin: 0;
    position: relative;
    background-color: #5C527F;
    top: -208px;
    left: -81px;
    padding: 0px;
    border: 0px;
    margin-top: 21px;
    border-radius: 20px;

  }

  /*menu hamburguesa*/

  nav ul li {
    display: block;
    float: none;
    padding: 0px;
    border: 0px;
    line-height: 18px;
    margin-bottom: 0;
    z-index: 2;
    top: 49px;
  }

  

  .menu_bar {
    display: block;
    width: 100%;
    top: 30px;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    /*background:#5C527F;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    top: -210px;
    position: relative;
  }

  .contenido {
    display: none;

  }

  .logIn-signUp {
    margin-top: 6px;
    margin-right: 18px;
    float: right;
  }

  .logIn {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    width: 80px;
    height: 30px;
    background: #6E85B2;
    border-radius: 13px;
    border-color: #FFFFFF;
    margin-right: 20px;
  }

  .SignUp {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    width: 80px;
    height: 30px;
    background: #6E85B2;
    border-radius: 13px;
    border-color: #FFFFFF;
  }

  .champion-card {

    position: relative;
    margin-left: 100px;
    bottom: 200px;
  }

  .sort {
    top: -151px;
    right: -26px;
    position: relative;
    z-index: 10;
    height: 25px;
  }

  input[type="text"] {

    left: -325px;
    top: 202px;
    z-index: 10;
    height: 35px;
  }

  #botonBuscar {
    margin-top: 0px;
    left: -638px;
    position: relative;
    top: -217px;
    z-index: 10;
  }

  #botonLimpiar {
    top: -247px;
    left: 116px;
    position: relative;
    z-index: 10;

  }

  #calculo{
    margin-top: 0px;
    margin-left: 665px;
    border-radius: 5px;
    width: 179px;
    height: 35px;
    position: absolute;
    top: 306px;
    left: -390px;
  }
  .textCalculo{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 530;
    font-size: 16px;
    color: black;
    top: 6px;
    position: relative;
  }

  .contenedor {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -101px;
    margin-left: 25px;
    gap: 5%;
    animation: fade-out 0.5s ease;
  }

  #resultados{
    top: 400px;
    margin-top: -90px;
  }

  h3{
    top: -120px;
    left: 50px;
  }

}