
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    background-color: #D3D9DA;
    font-family: 'Patrick Hand', cursive;
}
#homeHeader{
    display: flex;
    padding: 0%;
    margin: 0%;
}

#header-content{
    width: 100%;
    height: 100%;
}
nav{
    background-color: #829460;
    height: 3%;
    align-items: center;
    display:flex;
    align-items: flex-start;
}
.homePng {
    width: 50%;
    margin-left: 40px ;
    padding-top: 15%;
}

#about {
    margin-left: 1%;
}

#aboutHeader {
    display: none;
}

#aboutSection {
    display: none;
}

#aboutHeaderImage {
    width: 100%;
}


.homeButtons{
    font-family: 'Patrick Hand', cursive;
    font-size: xx-large;
    width: 15%;
    padding: 8px 60px;
    border-radius: 15px ;
    border: solid 5px #829460;
    opacity: 80%;
    margin-left: 3%;
    color: #514E46;
    background-color: #D9DFCF;

}

.home-Content{
    display: flex;
    align-items: flex-start;
}
#home-Collage{
    margin-left: 10%;
    width: 40%;
}
.welcome-Text{
    width: 40%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: xx-large;
}
#movieHeaderSection {
    display: none;
    padding: 0%;
    margin: 0%;
    width:cover;
}
#movieHeader {
    width: 100%;
}
#moviesHeader{
    height: 100%;
    width: 100%;
}

.content {
    height: 3%;
    display: none;
    flex-wrap: wrap;
    size: 10%;
    margin-top: 0;
    background-color:#829460;
}



.filterText {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    font-family: 'Patrick Hand', cursive;
    color: #D3D9DA;
}

.Filtros {
    font-family: 'Patrick Hand', cursive;
    font-size: xx-large;
    width: 15%;
    padding: 8px 60px;
    border-radius: 15px ;
    border: solid 5px #829460;
    opacity: 80%;
    margin-left: 3%;
    color: #514E46;
    background-color: #D9DFCF;
}

.options {
    font-size: large;
}

.Filtros:hover {
    background-color: rgb(182, 212, 186);
}

#searchSpace {
    margin-left: 20%;
    width: 15%;
    margin-right: 8px;
}

#filmsZone {
    display: none;
    background-color: #EEEEEE;
    flex-wrap: wrap;
    align-content: center;
}

.filmDivs {
    display:flexbox;
    width: 20%;
    border: 8px solid  #a9b690;
    border-spacing: 50% ;
    border-radius: 10%;
    margin-left: 9.5%;
    margin-top: 4% ;
    justify-content: center;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

}

.infoText {
    color: #514E46;
    font-size: x-large;
    text-justify: center;
    margin-left: 13%;
    margin-right:13%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}


.filmDivs:hover {
    background-color: rgba(194, 196, 190, 0.534);
}

.filmDivsHover {
    width: auto;
}

.textContent {
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 20px;


}

.posterImages {
    width: 70%;
    padding: 5px;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 5%;
}

.filterSection {
    display: none;
    flex-wrap: wrap;
}
#moreHeader{
    display: none;
}
#moreHeaderImage{
    width: 100%;
}
#moreSection{
    display: none;
    flex-wrap: wrap ;
}
.more-Images{
    width: 90%;
    height: 80%;
    margin: auto;
}

.moreText{
    color: #514E46;
    font-size: xx-large;
    text-justify: center;
}
.moreDivs{
    width: 30%;
    margin:1%;
    text-align: center;
}

#charactersZone{
    display: none;
    background-color: #EEEEEE;
    flex-wrap: wrap;
    align-content: center;
}


#characterHeaderSection{
    display: none;

}
#characterHeader{
    width: 100%;
}
#characterImage{
    width: 100%;
    height: 100%;
}
.characterContent{
    display: none;
}

#triviaHeader {
    display: none;
    width: 100%;
}

#triviaHeaderImage {
    width: 100%;
    height: 100%;
}

#triviaSection {
    display: none;
    text-align: center;
}
#divQuestion {
    width: 33%;
    margin:1%;
}

.question {
    padding: 2%;
    width: 90%;
    text-align: center;
    color: #514E46;
    font-size: xx-large;
    height: auto;
    margin: auto;

}
.Answer {
    width: 60%;
    height: 15%;
    margin: auto;
    margin-top: 5%;
    font-size: x-large;
    text-align: center;
    background-color: #f0f6f7;
}

footer {
    display:flex ;
    justify-content: flex-end;
}