*{box-sizing: border-box;margin: 0;padding: 0;}

body{

    background-image: url('../images/imgluna.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    
}
header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background: #514F4F;
    opacity: 80%;
    margin-top: 20px;
}
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.logo {
    float:left;
    line-height: 150px;
    cursor: pointer;
    
}

header nav {
    font: 1em sans-serif;;
    float: right;
    line-height: 150px;
}

header nav a {
    display: inline-block;
    color: #F9F9F9;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 15px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
header nav a:hover {
    background: #48F143;
    border-radius: 10px ;
}