.block{
    width: 50%;
    height: 100%;
    margin-top: -5%;
}
h1{
    text-align: center;
  font-family: "Jockey One", sans-serif;
}
table {
    width: 80%;
    font-family: "Jockey One", sans-serif;
    font-size: 120%;
    margin:auto;
    text-align: center;
  }
  .vehicleImg {
    width: 80%;
    height: 10%;
    border-radius: 8%;
  }
  .locationImg {
    width: 80%;
    height: 10%;
    border-radius: 8%;
  }
#locationsTableColumnOne {
    width: 50%;
    margin:auto;
    margin-left: 10%;
    text-align: center;
  }
  #locationsTableColumnTwo {
    width: 50%;
    margin-left: 10%;
    text-align: center;
  }
  #locationsTable img {
    margin-left: 10%;
    height: 242px;
    width: 250px;
  }
  #vehiclesTableColumnOne {
    width: 50%;
    margin:auto;
    margin-left: 20%;
    text-align: center;
  }
  #vehiclesTableColumnTwo {
    width: 50%;
    margin-left: 10%;
    text-align: center;
    width: 250px;
  }
  #vehiclesTable img {
    margin-left: 10%;
    height: 242px;
    width: 250px;
  }
  .justify {
    text-align: justify;
    width: 250px;
    margin-left: 10%;
  }
  td{
    vertical-align: top;
  }
  label {
    font-family: "Jockey One", sans-serif;
    font-size: 120%;
    color: #fff;
  }
  .vehicleName {
    font-family: "Jockey One", sans-serif;
    font-size: 120%;
  }
  #climateSelect {
    font-family: "Jockey One", sans-serif;
    font-size: 120%;
    background-color: #3CD1EF;
  }
  #refresh {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 0.2%;
    display: inline-flex;
    background-color: #3CD1EF;
    font-family: "Jockey One", sans-serif;
    font-size: 120%;
  }
  #refresh:hover {
  background-color: #ee9547;
  color: #fff;
  }